li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 100px;
    overflow: hidden;
    position: relative;
}
hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fdbac2;
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
    color: #f7b1b1;
}

.nav-link:hover{
    color: aliceblue;
}

.nav-logo {
    font-family: 'Ubuntu';
    font-size: 3.0rem;
    font-weight: bold;
    float: left;
    color: white;
}
@media (max-width: 1028px) {
    .bar{
        display: block;
    }
}
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .iphone {
        position: static;
        transform: rotate(0);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #ff4c68;
        width: 100%;
        text-align: center;
        transition: 0.3s;


        
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        padding-right: 100px;
        cursor: pointer;
    }
    
}
.firstdiv{
    padding-left: 10px;
    padding-top: 20px;
    float: left;
    width: 50%;
    display:inline;
}
.rotate-25 {
    transform: rotate(25deg);
  }
.iphone {
    width: 70%;
    padding-top: 60px;
    position: relative;
    
}
.phone-section{
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    overflow: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}
#features {
    position: relative;
    padding-top: 70px;
    padding-left: 150px;
    height: 420px;
}
#title{
        background-color: #ff4c68;
        text-align: center;
        padding-top: 20px;
        padding-left: 100px;
        padding-bottom: 20px;
        height: 550px;
        overflow: hidden;
}

#testimonials {
    background: #ef8172;
}
.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

img {
    vertical-align: middle;
    border-style: none;
}

#logo {
    text-align: center;
    background-color: #ef8172;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #fff;
}
h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: #1f1f1f;
}
h3 {
    font-family: "Poppins", sans-serif;
    color: #1f1f1f;
    font-weight: bolder;
}

p {
    color: #1f1f1f;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.container {
    padding-top: 3%;
    padding-bottom: 7%;
    padding-left: 2px;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.feature-box {
    padding: 2%;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.text {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    float: left;
    color: white;
}
.text-item{
    padding: 0 18px;
}


#download {
    background-color: #ff4c68;
    text-align: center;
    padding: 100px 15% 40px;
}
.download-button {
    margin: 5% 3% 5% 0%;
}
#contact-form{
    background-color:#fdbac2;
    text-align: center;
    padding: 100px 15% 40px;
}
#price {
    padding: 100px;
    background-color: white;
}

.price-column {
    display: inline;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
}
.card{
    position: relative;
    display: block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #35111120;
    border-radius: 0.25rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #00000008;
    border-bottom: 1px solid #00000020
}
.cardbody{
    padding: 2%;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
    display: inline-block;
    font-size: 1.25rem;
    margin: 5%,3%;
    cursor: pointer;
    border-radius: 0.3rem
}
#footer {
    background-color: #ffffff;
    text-align: center;
    padding: 100px 15% 20%;
    height: 100px;
}
.footer-link {
    padding: 2.5%;
    color: #000;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

label{
    display: inline-block;
    width: 100px;
    text-align:left;
    font-size: 1rem;
    color:#585656;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:#252424;
}
  
.myBtn{
    width: 10%;
    background-color:#252424;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3.5px;
    cursor: pointer;
    text-align: center;
    display: inline;
    margin: 5% 3%;
    font-size: 1.2rem;
    text-align: center;

}

.myBtn:hover{
    background-color:#ef8172;
}
  
  
#contact-form {
    border-radius: 5px;
    background-color: #f3e7e7;
    padding: 20px;
    color: #ff4c68;
    
}
.contas{
    color: #ff4c68;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
}
.para{
    color: #ef8172;
    font-size: 1.3rem;
}
.formdiv{
    border-radius: 5px;
    background-color: #f5e1e1;
    padding: 20px;
}